body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 2px;
    color: #ffcb05; 
    text-shadow: 2px 2px 0 #2a75bb;
    margin: 0;
    margin-top: -30px;
    margin-bottom: -10px;
}

.navbar {
    background: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.navbar nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.navbar a.active {
    color:  #ffd735;
}

#game {
    width: 100%;
    height: 100%;
}

#game-menu {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.image-placeholder {
    width: 100%;
    height: 180px;
    background: #d9d9d9;
    border-radius: 8px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-weight: bold;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
}

.game-links {
    margin-top: 20px;
}

.external-link {
    color: #ffd735; 
    font-weight: bold;
    text-decoration: none;
}

.external-link:hover {
    text-decoration: underline;
}

.menu-btn {
    display: block;
    width: 100%;
    height: 44px;
    background: #ffd735;
    color: #444;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

.menu-btn:hover {
    background: #f5b700; 
    cursor: pointer;
}

#pokeball-opening {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 80px;
    height: 80px;
    top: 80vh;
    left: calc(50vw - 40px)
}

.logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

@keyframes curve {
    0%   { transform: translate(0, 0); }
    40%  { transform: translate(var(--cx), var(--cy)); } /* curve bump */
    100% { transform: translate(var(--ex), var(--ey)); }
}

#timer-and-score {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 3px;
    width: 120px;
    display: block;
    position: absolute;
    left: calc(99vw - 120px);
    z-index: 2000;
}
 #timer-and-score * {
    display: none;
    line-height: 1.3;
    color: #f5b700;
    text-shadow: 1px 1px #444;
 }