.quiz-box {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.quiz-box img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.options button:hover {
    background: #f5b700;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}
