.quiz-box {
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.quiz-box img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.options button:hover {
    background: #f5b700;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .quiz-box {
        max-width: none;
        margin: 40px 0;
        border-radius: 0;
    }
}

.home-box ul {
    list-style: none;
    padding-left: 0;   
    margin-left: 0;
}
